<% if @isLoser %>
  <form action="/" method="get">
    <h1>Perdió!</h1>
    <h3> El codigo era: <%= @@numero_random %> </h3>
    <br>
    <h3> Gano: </>
    <%=@playerName%><br>
    <input type="submit" value="volver a jugar">
  </form>
<% else %>
  <% if @isWinner %>
    <form action="/" method="get">
      <h1>Gano!</h1>
      <%= @name1%>
      <h3> En el intento numero: <%= @try%></h3>
      <br>
      <h3> El codigo era: <%= @@numero_random %></h3>
      <input type="submit" value="volver a jugar">
    </form>
  <% else %>
    <div align="center">
     <label>Ingrese el nombre del jugador: </label><br>
     <input type="Text" name="name2" value="">
    </div>
    <h1>Adivinar codigo:</h1>
    <form action="/game" method="post">
      <input type="Integer" name="code" value=""><br>
      <br>
      <input type="submit" value="verificar" action="/resultado">
    </form>
    <form action="/resultado" method="get">
      <label> el codigo ingresado es</label>
      <%= @code%>
      <label> En el intento # </label>
      <%= @try%>
      <br>
      <br>
      <label> cantidad de vacas: </label>
      <%= @vacas%>
      <br>
      <label>Cantidad Toros:</label>
      <%=@toros%>
    </form>
  <% end %>
<% end %>
