<h1>Adivinar codigo:</h1>
<form action="/game" method="post">
  <input type="Integer" name="code" value="">
  <input type="submit" value="Adivinar" action="/resultado">
</form>

<form action="/resultado" method="get">

    <% if @loss %>
        <h1>Perdio!</h1>
        <h3> El codigo era: </h3>   <%= @code %><br>
        <a href="/" type="button" class="button">Volver a jugar!</a>
    <% else %>

        <% if @won %>
            <h1>Gano!</h1>
            <h4> En el intento numero: </h4>   <%= @try%>
            <h4> El codigo era: </h4>   <%= @code %><br>
            <a href="/" type="button" class="button">Volver a jugar!</a>
        <% else %>
            <label> el codigo ingresado es</label>
            <%= @code%>
            <label> En el intento # </label>
            <%= @try%>
            <br>
            <br>
            <label> cantidad de vacas: </label>
            <%= @vacas%>
            <br>
            <label>Cantidad Toros:</label>
            <%=@toros%>
        <% end %>
    <% end %>

</form>
